<div id="album" *ngIf="album">
    <header class="album-header">
        <div class="row">   
          <div class="col-md-5  ">
              <div *ngIf="album.images.length > 0">
                  <img style="margin-left:40px; border:10px solid wheat;" src="{{album.images[0].url}}" class="album-thumb">
              </div>
          </div>
          <div class="col-md-4" style="margin-left: 80px">
                <h2 *ngIf="album.artists.length > 0 " style="color:rgb(117, 95, 54);"><span *ngFor="let artist of album.artists">
                  <strong>{{artist.name}}</strong>
                </span></h2>
                <h3>{{album.name}}</h3>
                <br>
                <h6>Release Date: {{album.release_date}}</h6>
                <br>
                <a class="btn btn-primary" href="{{album.external_urls.spotify}}" target="_blank">View in Spotify</a>
          </div>
        </div>
    </header>
    <hr>
    <div class="album-tracks mt-4 container">
      <h2 style="text-align:center; color:rgb(117, 95, 54); size: 200px;"><strong>Album Tracks</strong></h2>
      <br>
      <div *ngFor="let track of album.tracks.items">
            <div class="card border-secondary mb-8" style="max-width: 70rem; margin: 12px">
                  <div class="card-body" style="text-align:center">
                    <h4 class="card-title" style="color:rgb(164, 201, 78)">{{track.name}}</h4>
                    <a type="button" class="btn btn-info" href="{{track.external_urls.spotify}}" target="_blank">Listen Track</a>
                    </div>
              </div>
            </div>
    </div>
</div>
